<section class="container-fluid">
    <tomato-loading-indicator 
      ng-if="vm.loading" 
      text="Fetching tomato data..."
    />
    
    <div class="row">
        <div class="col-xs-6">
            <tomato-chart ng-if="!vm.loading" data="vm.tomatoes"></tomato-chart>
        </div>
        <div class="col-xs-6">
            <tomato-chart ng-if="!vm.loading" data="vm.tomatoes"></tomato-chart>
        </div>
    </div>
</section>

<section class="container-fluid">
    <tomato-card header="test">
        <div class="col-xs-12">
            <uib-tabset>
                <uib-tab 
                    index="$index" 
                    ng-repeat="farm in vm.farms track by $index"
                    heading="{{farm.Title}}"
                    ng-click="vm.setActiveTabIndex($index)"
                />
            </uib-tabset>
            <tomato-grid 
                ng-if="vm.activeTabIndex === $index" 
                data="vm.tomatoes"
                ng-repeat="farm in vm.farms track by $index" 
                list-view="farm.Title"
                >
            </tomato-grid>
        </div>
    </tomato-card>
</section>